.footer{
  background: #000;
  padding: 1.875rem 0;
  font-family: "Fira Code", monospace;
  .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet{
      flex-direction: column;
      gap: .9375rem;
      justify-content: center;
    }
    .footer-logo{
      color: #fff;
      font-size: 1.25rem;
      letter-spacing: -0.0625rem;
      @include tablet{
        font-size: 1.125rem;
      }
    }
    .footer__copyright{
      color: #eee;
      font-size: .875rem;
      text-align: right;
      @include tablet{
        font-size: .8125rem;
        text-align: center;
        line-height: 150%;

      }
    }
  }
}